body {
    margin: 0 ;
    font-family: 'Roboto', sans-serif;
}
header {
    border-bottom: 1px solid rgb(200, 200, 200);
    box-shadow: 0 3px 5px grey;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    
}

.navbar nav a:hover{
    color: red;
}


.navbar nav{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
   
}

header a {
    color: black;
    text-decoration: none;
}

header .home-button {
    font-size: 30px;
    text-decoration: none;
}   

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    margin: auto;
    width: 30%;
    padding: 120px;
}

h2 {
    padding-left: 500px;
}
 
table {
     width: 30%;
     height: 10%;
     
}

.highlight {
    color: #007bff;
}

.central-button:hover {
    background: #0056b3;
}

.central-button {
    display: inline-block;
    padding: 1rem 2rem;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
    background-color: black;
    color: white;
  }

  footer {
    text-align: center;
    padding: 20px; 
    background-color: #333;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }